<div class="d-flex justify-content-between align-items-center player bg-black">
    <div class="song-played d-flex align-items-center">
     
    </div>
    <div class="d-flex justify-content-center align-items-center">
      <fa-icon class="control" icon="backward-step" ></fa-icon>
      
        <fa-icon class="mx-4 play-icon"  icon="circle-play"></fa-icon>
      
      <fa-icon class="control" icon="forward-step" ></fa-icon>
    </div>
    <div class="d-flex justify-content-between align-items-center volume">
      <div class="volume-icon" >
        
          <fa-icon icon="volume-high"></fa-icon>
        
      </div>
      <input type="range" class="form-range ms-2">
            
    </div>
  </div>
