
@import "./../assets/scss/bootstrap_var";

.height-main-row {
  height: $main-row-height;
}

.full-height-main-content {
  height: $main-content-height;
}

.toast-container {
  bottom: 13%;
  right: 35%;
}