<div class="container-fluid pt-3 vh-100">
  <div class="row height-main-row">
    <div class="d-none d-sm-none d-md-block col-md-3 col-xl-2 navigation pe-2 h-100">
      <div>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid, magni esse, architecto eos temporibus neque veniam porro sunt odit praesentium nostrum iusto modi!</p>
      </div>
    </div>
    <div class="col-12 col-sm-12 col-md-9 col-xl-10 ps-0 h-100">
      
      
      <div class="rounded-bottom-2 p-3 bg-dark overflow-scroll full-height-main-content scroll-none">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
  <footer>
    <div class="w-100">
      <app-player></app-player>
    </div>
  </footer>
</div>